/* 
 * styles.css file for the Individual Project (University of Sussex 2023)
 * Author: William Moss (235319)
*/

:root {
    /* Changing Bootstrap Variables */
    --bs-dark-rgb: 21, 34, 56 !important;
    --bs-body-bg-rgb: 35, 57, 93 !important;
    --bs-gradient: linear-gradient(to right top, #09406b, #0e5489, #126aa9, #1480c9, #1297eb) !important;
}

.user-row {
    color: white;
}

.navbar {
    background-color: rgb(2 52 90);
}

.navbar span {
    color: white !important;
}

.navbar .navbar-brand {
    margin-right: 0 !important;
}

.user-button svg {
    margin-top: .25rem !important;
}

.user-button .btn {
    width: 45%;
    height: 100%;
}

.profile-icon {
    border-radius: 50%;
    max-height: 7.5rem;
}

.bg-lightblue{
    background-color: rgb(0 70 124);
}

.col-95 {
    flex: 0 0 auto;
    width: 79.1666667%;
}

.offset-05 {
    margin-left: 4.16666667%;
}

.tab-content {
    color: white;
}

.input-group-text {
    border: none !important;
    color: white !important;
}

.table {
    --bs-table-color: white !important;
    --bs-table-striped-color: white !important;
}

th {
    font-weight: 600!important;
}

thead tr {
    border-top: none;
}

.timetable td {
    width: 16.66%;
    padding: 0 !important;
}

.timetable .bg-green {
    background-color: darkcyan !important;
}

.timetable th {
    width: 16.66%;
}


tbody th {
    border-left: none;
}

.first-cell {
    border-left: none;
}

.admin-page .btn {
    width: 100%;
    padding: 1.5rem !important;
}

.admin-page .btn svg {
    margin-top: .25rem !important;
}

.avail-table td {
    width: 16.66%;
}

.avail-table td.active::after{
    content: "Available";
}

.avail-table td:hover{
    background-color: rgba(0,0,0,.075);
    cursor: pointer;
}

.avail-table td.active {
    background-image: repeating-linear-gradient( -45deg, transparent 0px 10px, #198754 10px 18px);
}

.nav {
    --bs-nav-link-color: white !important;
    --bs-nav-link-hover-color: grey !important;
}

.custom-input {
    background-color: transparent !important;
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
    border-radius: 0 !important;
    color: white !important;
}

.form-control:disabled {
    background-color: rgb(57, 101, 161)!important;
    opacity: 0.5 !important;    
    cursor: not-allowed;
}

.custom-textarea {
    background-color: transparent !important;
    color: white !important;
}

.input-group .btn {
    border-radius: var(--bs-btn-border-radius) !important;
}

td {
    vertical-align: middle;
}

select optgroup {
    background-color: rgb(28 65 112);
}

select option {
    background-color: rgb(28 65 112);
}